/*--HEADER--*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{
  min-height: 50px;
  background: white;
  padding: 0 20px;
  color: black;
  box-shadow:0 0 10px #34495e;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  width: 15%;
}

.menu{
  float: right;
  line-height: 70px;
  color: black;
  margin-top: -8px;
  z-index: 1;
}
.menu a{
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 20px;
  transition: 0.4s;
  color: black;
  font-weight: bold;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
  color: black;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}
#btn_login{
  height: 30px;
  width: 120px;
  font-size: 12px;
  padding: 0px 0px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  background-image:  linear-gradient(50deg, red 12%, #090979 75%, #00d4ff 100%);
}
/* Respone Ipad Pro */
@media screen and (max-width:1024px){
  .logo{
    width: 15% ;
    margin-top: 5px;
    margin-left: 10px;
  }
  .menu a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 10px;
    transition: 0.4s;
    color: black;
    font-weight: bold;
    font-size: 13px;
  }

}
/* Respone ### */
@media screen and (max-width:900px){
  .logo{
    width: 15% ;
    margin-top: 5px;
    margin-left: 10px;
  }
  .menu a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 10px;
    transition: 0.4s;
    color: black;
    font-weight: bold;
    font-size: 10px;
  }

}

/* Response Ipad */
@media screen and (max-width:768px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .logo{
    margin-left: 0%;
    margin-top: 0%;
    width: 25%;

  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .show-menu-btn{
    margin-top: -20px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
/* Moblie # */
@media screen and (max-width:640px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .logo{
    margin-left: 0%;
    margin-top: 3%;
    width: 40%;

  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .show-menu-btn{
    margin-top: -20px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}


/* --SECTION */
.section1{
    
    position:relative;
	background-image: url(../images/../images/7878.png);
	background-position: center;
	
}
.text-black{
       font-family: Florence, cursive;
       font-size: 15px;
}
.Chu{
   font-family: Blippo, fantasy;

}

.w3-button{
  color: #f8f9fa;
}
.box:hover {
	box-shadow: 10px 10px 11px rgba(33,33,33,.2); 
}


.align-items-center {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.btn-primary{
  padding-top: 3px; 
 margin-top: 32px; 
 height: 34px;
 
 background-color: green;
}


/*--BODY--*/

.poly-sheet{
    box-shadow:0 0 1px lightgray;
    border-radius:5px;
    padding:5px;
    position:relative;
    top:-10px;
}

.poly-sheet > article.col-sm-9, .poly-sheet > aside.col-sm-3{
	padding: 5px;
}

/*--ASIDE BOX--*/



.panel-heading strong{
	font-variant: small-caps;
	font-size: larger;
	text-shadow:0 0 2px darkgray;
}

p.bank_info {
    padding: 15px;
    display: block;
    margin: 10px auto;
    border-left: solid 3px #b7e2f6;
}

/*Footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}


.btn-secondary{
  background-color: darkgray;
  font-size: 10px;

}

/*thành viên đã học*/
.btn-circle {   
width: 40px;    
height: 40px;   
text-align: center; 
padding: 6px 0; 
font-size: 12px;    
line-height: 1.428571429;   
border-radius: 15px;
}
 
.btn-circle.btn-lg {    
width: 50px;    
height: 50px;   
padding: 10px 16px; 
font-size: 18px;    
line-height: 1.33;  
border-radius: 25px;
}
.btn-circle.btn-xl {    
width: 70px;    
height: 70px;   
padding: 10px 16px; 
font-size: 24px;    
line-height: 1.33;  
border-radius: 35px;
}


