@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width:100%;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  };
.textbanner{
    font-size: 18px;
}
.njlpt{
    padding-top: 10px;
    padding-left: 65px;
    padding-bottom: 15px;
}
#hocthu11{
    padding-left: 75px;
}
.card-body{
    padding:none;
}
@media (min-width : 320px) and (max-width : 767px) {
  .nhungvideo{
    max-width: 100%;
    height: auto;
  };
  @media (min-width : 768px) and (max-width : 1025px) {
    .nhungvideo{
      height: 400px;
      width: 100%;
    }
};
/*hide ads cho thiết bị dưới 992px*/
@media (min-width: 768px) and (max-width: 1023px) {
    .njlpt {padding-left: 0px;}
    }
.hoanthanh{
  background-color: red;

};